# Capstone Project -  Python Fundamentals

###### Task 1
There are three different tables as given above. Please make three dataframe in 
python and save them as three .csv files. From Task 2 to Task 10, use the saved
.csv files only.

In [60]:
import pandas as pd  # Import the pandas library and assign it the alias 'pd'

# Create the Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],  # Employee IDs
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],  # Employee names
    'Gender': ['M', 'F', 'M', 'F', 'F'],  # Employee genders
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],  # Employee cities
    'Age': [25, 27, 29, 31, 30]  # Employee ages
}
employee_df = pd.DataFrame(employee_data)  # Create the DataFrame from the data
employee_df.to_csv('employee.csv', index=False)  # Save the DataFrame to a CSV file named 'employee.csv'
print("          Employee DataFrame")
print(employee_df)

# Create the Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],  # Employee IDs
    'Designation Level': [2, 2, 3, 2, 3]  # Employee seniority levels
}
seniority_df = pd.DataFrame(seniority_data)  # Create the DataFrame from the data
seniority_df.to_csv('seniority.csv', index=False)  # Save the DataFrame to a CSV file named 'seniority.csv'
print("           Seniority Level DataFrame")
print(seniority_df)

# Create the Project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],# Project IDs
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],# Employee IDs associated with each project
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],# Project costs (with a missing value)
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']# Project statuses 
}
project_df = pd.DataFrame(project_data)  # Create the DataFrame from the data
project_df.to_csv('project.csv', index=False)  # Save the DataFrame to a CSV file named 'project.csv'
print("            Project DataFrame")
print(project_df)

          Employee DataFrame
     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30
           Seniority Level DataFrame
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3
            Project DataFrame
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

###### Task 2
The cost column in the dataframe “Project” has some missing values. Your task 
is to compute these missing values. Replace the missing values by running 
average. You should use the “For” loop for this task.

In [61]:
import pandas as pd  # Import the pandas library and assign it the alias 'pd'

#reading the project csv file
project_df = pd.read_csv("project.csv") 

# Initialize the running average
running_average = 0

# Initialize the count of non-missing values
count = 0

# Iterate over each row in the DataFrame
for index, row in project_df.iterrows():
    # Check if the 'Cost' value is missing (NaN)
    if pd.isna(row['Cost']):
        # If missing, replace with the running average
        project_df.loc[index, 'Cost'] = running_average
    else:
        # If not missing, update the running average
        running_average = (running_average * count + row['Cost']) / (count + 1)
        count += 1

#writing into the file
project_df.to_csv('project.csv', index=False)
        
# Print the updated DataFrame
print(project_df)

      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

###### Task 3
Split the name column in the Employee dataframe into two new columns “First Name”, and “Last Name” and remove the older “name” column.

In [62]:
import pandas as pd # Import the pandas library and assign it the alias 'pd'

#reading the employee csv file
employee_df = pd.read_csv('employee.csv')

# Split the 'Name' column into 'First Name' and 'Last Name' columns
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)

# Print the updated DataFrame with new columns
print("\nUpdated DataFrame with new columns:")
print(employee_df)

# Drop the original 'Name' column
employee_df = employee_df.drop('Name', axis=1)

# Save the DataFrame to a CSV file named 'employee.csv'
employee_df.to_csv('employee.csv', index=False) 

# Print the final DataFrame with the 'Name' column removed
print("\nFinal DataFrame with 'Name' column removed:")
print(employee_df)

Updated DataFrame with new columns:
     ID             Name Gender     City  Age First Name  Last Name
0  A001       John Alter      M    Paris   25       John      Alter
1  A002  Alice Luxumberg      F   London   27      Alice  Luxumberg
2  A003    Tom Sabestine      M   Berlin   29        Tom  Sabestine
3  A004       Nina Adgra      F  Newyork   31       Nina      Adgra
4  A005        Amy Johny      F   Madrid   30        Amy      Johny

Final DataFrame with 'Name' column removed:
     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

###### Task 4
Join all three dataframes in one single dataframe. Name it “Final”

In [63]:
 # Import the pandas library and assign it the alias 'pd'
import pandas as pd

#reading the project csv file
project_df = pd.read_csv("project.csv") 

#reading the employee csv file
employee_df = pd.read_csv('employee.csv')

#reading the Seniority csv file
seniority_df = pd.read_csv('seniority.csv')

# Merge employee_df and seniority_level_df on 'ID' column
merged_df = pd.merge(employee_df, seniority_df, on='ID')

# Merge merged_df and project_df on 'ID' column
final_df = pd.merge(merged_df, project_df, on='ID')

# Print the final DataFrame
print("Final DataFrame:")
print(final_df)

Final DataFrame:
      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status
0    Project 1  1.002000e+06  Finished
1    Project 9  2.061714e+06   Ongoing
2   Project 11  2.000000e+06    Failed
3    Project 2  2.000000e+06   Ongoing
4    Project 6  6.800000e+05    Failed
5    Project 3  4.500000e+06  Finished
6    Project 8  3.500000e+05    Failed
7   Project 10  3.000000e+05  Finished
8    Project 4  5.500000e+06   Ongoing
9   Project 12  1.000000e+06   Ongoing
10  Project 13  3.000000e+06  Finished
11   Project 5  3.250500e+06  Finished
12   Project 7  4.000000e+05  Finished
13  Project 14  2.000000e+05  Finished

###### Task 5
Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project cost only to employees who have finished the projects.

In [64]:
# Calculate the bonus for each employee based on the project cost
final_df['Bonus'] = 0  # Initialize the bonus column with 0 values

# Iterate over each row in the Final DataFrame
for index, row in final_df.iterrows():
    # Check if the project status is 'Finished'
    if row['Status'] == 'Finished':
        # Calculate the bonus as 5% of the project cost
        bonus = row['Cost'] * 0.05
        # Update the bonus column with the calculated value
        final_df.loc[index, 'Bonus'] = bonus

# Print the updated Final DataFrame
print("Final DataFrame with Bonus:")
print(final_df)

Final DataFrame with Bonus:
      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status   Bonus
0    Project 1  1.002000e+06  Finished   50100
1    Project 9  2.061714e+06   Ongoing       0
2   Project 11  2.000000e+06    Failed       0
3    Project 2  2.000000e+06   Ongoing       0
4    Project 6  6.800000e+05    Failed       0
5    Project 3  4.500000e+06  Finished  225000
6    Project 8  3.500000e+05    Failed       0
7   Project 10  3.000000e+05  Finished   15000
8    Project 4  5.500000e+06   Ongoing       0
9   Project 12  1.000000e+06   Ongoing       0
10  Project 13  3.000000e+06  Finished  150000
11   Project 5  3.250500e+06  Finished  162525
12   Project 7  4.000000e+05  Finished   20000
13  Project 14  2.000000e+05  Finished   10000

###### Task 6
Demote the designation level by 1, whose projects have status “fail”. Delete the
employees record whose designation level is above 4.

In [65]:
# Demote the designation level by 1 for employees whose projects have status "Failed"
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1

# Print the updated Final DataFrame after demotion
print("Final DataFrame after demotion:")
print(final_df)
print()

# Delete the employees' records whose designation level is above 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Print the updated Final DataFrame after deletion
print("Final DataFrame after deletion:")
print(final_df)

Final DataFrame after demotion:
      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  1
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  1
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  2
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status   Bonus
0    Project 1  1.002000e+06  Finished   50100
1    Project 9  2.061714e+06   Ongoing       0
2   Project 11  2.000000e+06    Failed       0
3    Project 2  2.000000e+06   Ongoing       0
4    Project 6  6.800000e+05    Failed       0
5    Project 3  4.500000e+06  Finished  225000
6    Project 8  3.500000e+05    Failed       0
7   Project 10  3.000000e+05  Finished   15000
8    Project 4  5.500000e+06   Ongoing       0
9   Project 12  1.000000e+06   Ongoing       0
10  Project 13  3.000000e+06  Finished  150000
11   Project 5  3.250500e+06  Finished  162525
12   Project 7  4.000000e+05  Finished   20000
13  Project 14  2.000000e+05  Finished   10000

Final DataFrame after deletion:
      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  1
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  1
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  2
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status   Bonus
0    Project 1  1.002000e+06  Finished   50100
1    Project 9  2.061714e+06   Ongoing       0
2   Project 11  2.000000e+06    Failed       0
3    Project 2  2.000000e+06   Ongoing       0
4    Project 6  6.800000e+05    Failed       0
5    Project 3  4.500000e+06  Finished  225000
6    Project 8  3.500000e+05    Failed       0
7   Project 10  3.000000e+05  Finished   15000
8    Project 4  5.500000e+06   Ongoing       0
9   Project 12  1.000000e+06   Ongoing       0
10  Project 13  3.000000e+06  Finished  150000
11   Project 5  3.250500e+06  Finished  162525
12   Project 7  4.000000e+05  Finished   20000
13  Project 14  2.000000e+05  Finished   10000

###### Task 7
Add “Mr.” and “Mrs.” to the first name column and drop the gender column.

In [67]:
import numpy as np

# Check if the 'Gender' column exists
if 'Gender' in final_df.columns:
    # Add "Mr." to the first name column for male employees
    final_df['First Name'] = np.where(final_df['Gender'] == 'M', 'Mr. '+ final_df['First Name'], final_df['First Name'])

    # Add "Mrs." to the first name column for female employees
    final_df['First Name'] = np.where(final_df['Gender'] == 'F', 'Mrs. '+ final_df['First Name'], final_df['First Name'])

    # Drop the gender column
    final_df = final_df.drop('Gender', axis=1)
else:
    print("The 'Gender' column does not exist in the DataFrame.")
    
# Print the updated Final DataFrame
print(final_df)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  1  Project 11
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  2   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  2   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 7
13  A005   Madrid   30    Mrs. Amy      Johny                  3  Project 14

            Cost    Status   Bonus
0   1.002000e+06  Finished   50100
1   2.061714e+06   Ongoing       0
2   2.000000e+06    Failed       0
3   2.000000e+06   Ongoing       0
4   6.800000e+05    Failed       0
5   4.500000e+06  Finished  225000
6   3.500000e+05    Failed       0
7   3.000000e+05  Finished   15000
8   5.500000e+06   Ongoing       0
9   1.000000e+06   Ongoing       0
10  3.000000e+06  Finished  150000
11  3.250500e+06  Finished  162525
12  4.000000e+05  Finished   20000
13  2.000000e+05  Finished   10000

###### Task 8
Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.

In [68]:
# Check if the 'Age' column exists in the DataFrame
if 'Age' in final_df.columns:
    # Iterate through each row in the DataFrame
    for index, row in final_df.iterrows():
        # Check if the employee's age is more than 29 years
        if row['Age'] > 29:
            # Get the current designation level
            designation_level = row['Designation Level']

            # Promote the designation level by 1
            new_designation_level = designation_level + 1

            # Update the Designation Level column with the new value
            final_df.at[index, 'Designation Level'] = new_designation_level

    # Print the updated Final DataFrame
    print("Final DataFrame after promoting designation level:")
    print(final_df)
else:
    print("The 'Age' column does not exist in the DataFrame.")

Final DataFrame after promoting designation level:
      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  1  Project 11
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  2   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  3   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  4   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  4   Project 7
13  A005   Madrid   30    Mrs. Amy      Johny                  4  Project 14

            Cost    Status   Bonus
0   1.002000e+06  Finished   50100
1   2.061714e+06   Ongoing       0
2   2.000000e+06    Failed       0
3   2.000000e+06   Ongoing       0
4   6.800000e+05    Failed       0
5   4.500000e+06  Finished  225000
6   3.500000e+05    Failed       0
7   3.000000e+05  Finished   15000
8   5.500000e+06   Ongoing       0
9   1.000000e+06   Ongoing       0
10  3.000000e+06  Finished  150000
11  3.250500e+06  Finished  162525
12  4.000000e+05  Finished   20000
13  2.000000e+05  Finished   10000

###### Task 9
Add the cost of all projects for each Employee and save it in new dataframe
“TotalProjCost” with three columns ID, First Name, and Total cost

In [69]:
# Create a list to store the total project cost for each employee
total_proj_cost_list = []

# Iterate through each unique employee ID
for employee_id in final_df['ID'].unique():
    # Filter the DataFrame to get the projects for the current employee
    employee_projects = final_df[final_df['ID'] == employee_id]

    # Calculate the total project cost for the current employee
    total_cost = employee_projects['Cost'].sum()

    # Get the first name of the current employee
    first_name = employee_projects['First Name'].iloc[0]

    # Create a new DataFrame for the current employee
    employee_total_cost_df = pd.DataFrame({'ID': [employee_id], 'First Name': [first_name], 'Total Cost': [total_cost]})

    # Append the new DataFrame to the list
    total_proj_cost_list.append(employee_total_cost_df)

# Concatenate the list of DataFrames into a single DataFrame
TotalProjCost = pd.concat(total_proj_cost_list, ignore_index=True)

# Print the TotalProjCost DataFrame
print("TotalProjCost DataFrame:")
print(TotalProjCost)

TotalProjCost DataFrame:
     ID  First Name    Total Cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06

###### Task 10
Print all the employee details whose city name contains the letter “o” in it.

In [70]:
# Filter the DataFrame to get the employees whose city name contains the letter "o"
employees_with_o_in_city = final_df[final_df['City'].str.contains('o', case=False)]

# Print the resulting DataFrame
print("Employees whose city name contains the letter 'o':")
print(employees_with_o_in_city)

Employees whose city name contains the letter 'o':
      ID     City  Age  First Name  Last Name  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  3   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 13

         Cost    Status   Bonus
3   2000000.0   Ongoing       0
4    680000.0    Failed       0
8   5500000.0   Ongoing       0
9   1000000.0   Ongoing       0
10  3000000.0  Finished  150000